# 1.	Write a Python program to convert kilometers to miles?

In [2]:
kilometers=(float(input("Enter the distance")))
miles=kilometers* 0.62137  #1 kilometre equals 0.62137 miles
print(kilometers,"km eqauls to ",miles,"mile")

Enter the distance10
10.0 km eqauls to  6.213699999999999 mile

# 2.	Write a Python program to convert Celsius to Fahrenheit?

In [4]:
celsius=float(input("Enter temparature in celsius"))
fahrenheit = (celsius * 1.8) + 32
print('%f degree celsius is equal to %f degree fahrenheit' %(celsius,fahrenheit))

Enter temparature in celsius38
38.000000 degree celsius is equal to 100.400000 degree fahrenheit

# 3.	Write a Python program to display calendar?

In [5]:
import calendar
yy=2021
print(calendar.calendar(yy))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

# 4.	Write a Python program to solve quadratic equation?

In [14]:
import cmath

#Taking input of value a,b,c
a=int(input("Enter value of a"))
b=int(input("Enter value of b"))
c=int(input("Enter value of c"))

#caluclating discriminant
dis= (b*b) - 4*a*c


#calculating roots
x1=(-b-cmath.sqrt(dis))/(2 * a)
x2 = (-b + cmath.sqrt(dis))/(2 * a)

#Prnting roots

print("Roots are x1=",x1," x2=",x2)

Enter value of a1
Enter value of b4
Enter value of c2
Roots are x1= (-3.414213562373095+0j)  x2= (-0.5857864376269049+0j)

## 5.	Write a Python program to swap two variables without temp variable?

In [15]:
def swap(a,b):
    a=a+b
    b=a-b
    a=a-b
    return a,b

a=int(input("Enter first number"))
b=int(input("Enter second number"))

a,b=swap(a,b)
print("Swapped number a:",a, "b:",b)

Enter first number23
Enter second number34
Swapped number a: 34 b: 23